<nav class="navbar">
    <div class="navbar-container">
        <!-- Navbar logo y titulo -->
        <div class="navbar-logo">
            <img src="/images/logo.png" alt="Logo">
            <span>Superhero Manager</span>
        </div>
        <!-- Navbar Links -->
        <ul class="navbar-menu">
            <li><a href="/api/">Inicio</a></li>
            <li><a href="/api/heroes">Ver Superhéroes</a></li>
            <li><a href="/api/heroes/agregar">+ Agregar</a></li>
            <li><a href="/api/heroes/buscar">Buscar Superhéroes</a></li>
        </ul>
    </div>
</nav>