<nav>
    <div class="navbar">
        <img src="" alt="Logo" class="navbar-logo">
        <ul>
            <li>   
                <a href="/api/">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/api/heroes">
                    Lista de superhéroes
                </a>
                <!-- <img src="" alt="Listado de superhéroes"> -->
            </li>
            <li>
                <a href="/api/heroes/agregar">
                    + Agregar superheroe
                </a>
            </li>
            <li>
                <a href="/api/heroes/buscar">
                    Buscar superhéroe                    
                </a>
            </li>
        </ul>
    </div>
</nav>