<h2 class="text-2xl font-bold mb-6 text-center">Lista de Superhéroes</h2>

<div class="cards-grid">

    <% superheroes.forEach(heroe=> { %>
        <%- include("partials/superheroCards", { heroe }) %>
    <% }); %>

</div>