<div class="form-container">
    <div class="btn-home"><a href="/" > <- Volver al inicio</a></div>
    <!-- Formulario editar superhéroe -->
    <form id="edit-superhero-form" autocomplete="off" class="form">
        <h2 class="form-title">Editar Superhéroe</h2>
        <p class="form-hint">Campos obligatorios<span class="req">*</span></p>
        <!-- Formulario partial -->
        <%- include("partials/superheroForm", { superheroe }) %>
            <!-- Botones -->
            <div class="form-btns">
                <a href="/heroes" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
    </form>
    <!-- Input oculto para poder accceder al campo id del superhéroe -->
    <input type="hidden" name="superheroId" value="<%= superheroe.id %>">
</div>

<script>
    function validarCampos() {
        
    }

    document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("#edit-superhero-form");
        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            // Obtener valores de los campos del formuario 
            const nombreSuperheroe = document.querySelector('input[name="nombreSuperheroe"]').value.trim();
            const nombreReal = document.querySelector('input[name="nombreReal"]').value.trim();
            const edad = document.querySelector('input[name="edad"]').value;
            const planetaOrigen = document.querySelector('input[name="planetaOrigen"]').value.trim();
            const creador = document.querySelector('input[name="creador"]').value.trim();
            const debilidad = document.querySelector('input[name="debilidad"]').value.trim();

            const poderes = document.querySelector('input[name="poderes"]').value.split(",").map(item => item.trim()).filter(Boolean);
            const aliados = document.querySelector('input[name="aliados"]').value.split(",").map(item => item.trim()).filter(Boolean);
            const enemigos = document.querySelector('input[name="enemigos"]').value.split(",").map(item => item.trim()).filter(Boolean);

            const errors = [];

            // Validar los campos
            if (!nombreSuperheroe) {
                errors.push("El nombre del superhéroe es requerido");
            } else if (nombreSuperheroe.length < 3) {
                errors.push("El nombre del superhéroe debe tener almenos 3 caractéres");
            } else if (nombreSuperheroe.length > 60) {
                errors.push("El nombre del superhéroe no puede superar los 60 caracteres");
            }

            if (!nombreReal) {
                errors.push("El nombre real del superhéroe es requerido");
            } else if (nombreReal.length < 3) {
                errors.push("El nombre real del superhéroe debe tener almenos 3 caractéres");
            } else if (nombreReal.length > 60) {
                errors.push("El nombre real del superhéroe no puede superar los 60 caracteres");
            }

            if (!edad) {
                errors.push("La edad del superhéroe es requerida");
            } else if (isNaN(edad)) {
                errors.push("La edad debe ser un número");
            } else if (edad < 0) {
                errors.push("La edad no puede ser negativa")
            }

            if (poderes.length < 1) {
                errors.push("El campo poderes no puede quedar vacío");
            } else {
                if (poderes.some(poder => !isNaN(poder))) { // Validar que cada elemento se uns string 
                    errors.push("Cada poder deber ser un texto");
                }
                if (poderes.some(poder => poder.length < 3)) {
                    errors.push("Cada poder debe tener almenos 3 caracteres");
                }
                if (poderes.some(poder => poder.length > 60)) {
                    errors.push("Ningún poder puede superar los 60 caracteres");
                }
            }

            // Mostrar los errores con un alert si es que hubo
            if (errors.length > 0) {
                alert("Por favor, corregir:\n" + errors.join("\n"));
                return;
            }

            const id = document.querySelector('input[name="superheroId"]').value;

            // Crear un nuevo objeto superhéroe con los datos actualizados
            const superheroUpdate = {
                nombreSuperheroe,
                nombreReal,
                edad,
                planetaOrigen: planetaOrigen ? planetaOrigen : "Desconocido",
                debilidad: debilidad ? debilidad : "No especificada",
                poderes,
                aliados,
                enemigos,
                creador: creador ? creador : "Desconocido"
            };

            try {
                // Enviar una solicitud PUT al backend para actualizar el superhéroe
                const response = await fetch(`/heroes/${id}/editar`, {
                     method: "PUT",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(superheroUpdate)
                });

                if (response.ok) {
                    window.location.href = "/heroes"; // Redirecciona al Dashboard
                } else {
                    const error = await response.json()
                    alert("Error al editar el superhéroe", error.message);
                }
            } catch (error) {
                console.erorr("Error al enviar la petición: ", error);
                alert("Ocurrió un error inesperado");
            }
        });
    });
</script>
