<section class="text-center">
  <h1 class="text-3xl font-semibold mb-4">Superhero Manager</h1>
  <p class="subtitle">
    Gestiona tu universo de superhéroes con facilidad. Crea, edita y elimina héroes, mantén un registro de sus poderes, aliados y enemigos. ¡Tu base de datos de superhéroes al alcance de tu mano!
  </p>

  <div class="hero-actions">
      <a href="/api/heroes" class="btn btn-primary">Ver Superhéroes</a>
      <a href="/api/heroes/agregar" class="btn btn-secondary">Agregar Superhéroe</a>
  </div>

  <div class="features">
    <h2 class="text-lg font-semibold mb-4">Funciones</h2>
    <ul>
      <li>Ver Listado completo de superhéroes</li>
      <li>Creación rápida</li>
      <li>Edición y actualización</li>
      <li>Eliminar superhéroes</li>
    </ul>
  </div>
</section>