<a href="/api/heroes" class="mb-4"> <- Volver al inicio</a>


        <h3 class="text-xl text-center my-6 mb-4">Resultado de la búsqueda</h3>

        <div class="search-result mt-8 ">

            <div id="not-found-message" class="w-full nt-message <%= typeof superheroes !== "undefined" && superheroes.length === 0 ? "flex" : "hidden" %> mb-2">
                <span>
                    No se encontraron Superhéroes con los valores especificados
                </span>
            </div>
            
            <div class="cards-grid">
                <% if (typeof superheroes !== "undefined" && superheroes.length > 0) { %>
                   <%  superheroes.forEach(heroe => { %>
                        <%- include("partials/superheroCards", { heroe }) %>
                    <% }); %>
                <% } %>
            </div>

        </div>
