<a href="/api/heroes" class="mb-4"> <- Volver al inicio</a>

        <div class="form-container">
            <h2 class="form-title">Buscar superhéroes</h2>
            <p class="form-hint">Busque superhéroes por atributo y valor</p>

            <form id="form-search" autocomplete="off">
                <div class="form-search">
                    <div class="search-select mt-2">
                        <label for="atribute-select">
                            Seleccione el atributo
                        </label>
                        <select name="attributeToSearch" id="select-attribute">
                            <option hidden value="none" aria-checked="">Seleccionar atributo</option>
                            <option value="nombreSuperheroe">Nombre superhéroe</option>
                            <option value="nombreReal">Nombre real</option>
                            <option value="edad">Edad</option>
                            <option value="planetaOrigen">Planeta de origen</option>
                            <option value="debilidad">Debilidad</option>
                            <option value="poderes">Poderes</option>
                            <option value="aliados">Aliados</option>
                            <option value="enemigos">Enemigos</option>
                        </select>
                    </div>
                    <div class="search-input">
                        <label for="attribute-value">Ingrese el valor</label>
                        <input id="attribute-value" type="text">
                    </div>
                    <div>
                        <button id="btn-search" type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
                <small>Si seleccionó poderes, aliados o enemigos. Separe por comas los valores que desee buscar</small>
            </form>
        </div>

        <h3 class="text-xl text-center my-6 mb-4">Resultado de la búsqueda</h3>

        <div class="search-result mt-8 ">
            
            <div id="not-found-message" class="w-full nt-message hidden mb-2">
                <span>
                    No se encontraron Superhéroes con los valores especificados
                </span>
            </div>
            <div class="cards-grid">
                <% // superheroes.forEach(heroe=> { %>
                    <%- //include("partials /superheroCards", { heroe })%>
                        <% //}) %>
            </div>

        </div>

        <script>
            const form = document.querySelector("#form-search");
            form.addEventListener("submit", async (e) => {
                e.preventDefault()

                const atributo = document.querySelector("#select-attribute").value;
                let valor = document.querySelector("#attribute-value").value.trim();

                // Validar si se seleccionó un atributo y se ingresó un valor
                const errors = []

                if (atributo === "none") errors.push("Elija un atributo");
                if (!valor) errors.push("Ingrese un valor");

                if (errors.length > 0) {
                    alert("Por favor corregir:\n" + errors.join("\n"));
                    return;
                }

                // Si selección un campo array y agregó mas de un valor, separar por comas y convetir valor en array
                if (atributo === "poderes" || atributo === "aliados" || atributo === "enemigos") {
                    if (valor.includes(",")) {
                        valor = valor.split(",").map(item => item.trim());
                    }
                }

                let url;

                // Preparar URL
                if (Array.isArray(valor)) {
                    // instanciar URLSearchParams() -> Utilidad para trabajar con parámetros de consulta
                    const params = new URLSearchParams();
                    // Si valor es array -> Crear URL con parámetro de consulta múltiple -> ?atributo=a&atributo=b&atributo=n
                    valor.forEach(v => params.append(atributo, v.trim()));
                    url = `/api/heroes/buscarSuperheroes?${params.toString(valor)}`;
                    console.log(url);
                } else {
                    // Si valor no es array -> Crear URL con parámetro de consulta normal -> ?atributo=valor
                    url = `/api/heroes/buscarSuperheroes?${atributo}=${decodeURIComponent(valor)}`
                    console.log(url);
                }

                try {
                    const response = await fetch(url);
                    
                    if (response.ok) {
                        const superheroes = await response.json()
                        if (superheroes.length === 0) {
                            const responseMessage = document.querySelector("#not-found-message");
                            responseMessage.classList.remove("hidden");
                            responseMessage.classList.add("flex");
                        } else {
                            
                        }
                    } else {
                        const err = await response.json();
                        alert("Error al buscar superhéroes", err);
                    }
                } catch {
                    alert("Ups. Ocurrió un error inesperado");

                }

            });
        </script>